<div class='w-full flex justify-center'>
    <div class='px-2'>
        <a href='https://www.instagram.com/' target='_blank'>
            <img src="{{ 'instagram.svg' | asset_url }}" class="w-6" />
        </a>
    </div>
    <div class='px-2'>
        <a href='https://www.facebook.com/' target='_blank'>
            <img src="{{ 'facebook.svg' | asset_url }}" class="w-6" />
        </a>
    </div>
    <div class='px-2'>
        <a href='https://twitter.com/' target='_blank'>
            <img src="{{ 'twitter.svg' | asset_url }}" class="w-6" />
        </a>
    </div>
</div>