<div class='w-full py-24 flex items-center justify-center'>
    <div class='max-w-full w-64 text-center'>
        <h1 class='text-2xl mb-4'>{{ 'general.404.title' | t }}</h1>
        <p>{{ 'general.404.subtext' | t }}</p>
    </div>
</div>